<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title> Quiz </title>
    </head>
  <body>
      <h2>Bienvenidos a Quiz!</h2>
      <p>El creador de este portal es Jordi Pascual Fontanilles</p>
      <a href="http://subefotos.com/ver/?eeb9f67c2e2eb9340e6ca39db339660ao.jpg" target="_blank"> <img src="http://thumbs.subefotos.com/eeb9f67c2e2eb9340e6ca39db339660ao.jpg" /></a>
    <img>
    </body>
</html>
